<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>傲创(柬埔寨)网络科技有限公司-傲立东南亚，创新有激情</title>
    <link rel="shortcut icon" href="<%= htmlWebpackPlugin.options.cdn %>image/ultronnet.ico">
    <link href="<%= htmlWebpackPlugin.options.cdn %>css/reset.css" rel="stylesheet">
    <!-- swiper css -->
    <link rel="stylesheet" href="<%= htmlWebpackPlugin.options.cdn %>css/swiper.css">
    <!-- 本页css -->
    <link rel="stylesheet" href="<%= htmlWebpackPlugin.options.cdn %>css/mobile.css">
    <script type="text/javascript">
        //检测跳转
        var os = function (){
            var ua = navigator.userAgent,
            isWindowsPhone = /(?:Windows Phone)/.test(ua),
            isSymbian = /(?:SymbianOS)/.test(ua) || isWindowsPhone,
            isAndroid = /(?:Android)/.test(ua),
            isFireFox = /(?:Firefox)/.test(ua),
            isChrome = /(?:Chrome|CriOS)/.test(ua),
            isTablet = /(?:iPad|PlayBook)/.test(ua) || (isAndroid && !/(?:Mobile)/.test(ua)) || (isFireFox && /(?:Tablet)/.test(ua)),
            isPhone = /(?:iPhone)/.test(ua) && !isTablet,
            isPc = !isPhone && !isAndroid && !isSymbian;
            return {
                isTablet: isTablet,
                isPhone: isPhone,
                isAndroid: isAndroid,
                isPc: isPc
            };	
        }();

        /* 如果是pc打开m端反向跳转 */
        RegExp(/\/\/([\w]*)\./).test(window.location.href);
        //是pc并且不是ipad 
        if(os.isPc && !os.isTablet){
            if(RegExp.$1 == 'm1'){
                //内网测试
                window.location.href = 'http://www1.ultronnet.com';
            }else if(RegExp.$1 == 'testm'){
                //外网测试
                window.location.href = 'http://testwww.ultronnet.com';
            }else{
                //正式
                window.location.href = 'http://www.ultronnet.com';
            }
        }
        /* 如果是pc打开m端反向跳转 */
    </script>
</head>
<!-- 注意视差插件在移动端是触摸滚动端视差 -->
<body>
    <!-- 加载之前有个遮照层 -->
    <div id="loadingBox">
        <img class="loading" src="<%= htmlWebpackPlugin.options.cdn %>image/loading.svg">
    </div>
    <!-- 加载之前有个遮照层 -->

    <div id="content">
        <!-- 巨屏 -->
        <div class="giantScreen">
            <!-- 导航 -->
            <div class="nav">
                <img class="logo1" src="<%= htmlWebpackPlugin.options.cdn %>image/logo.svg" />
                <img class="logo2" style="display: none;" src="<%= htmlWebpackPlugin.options.cdn %>image/logo2.svg" />
                <div class="op">
                    <div class="opTop"></div>
                    <div class="opButtom"></div>
                </div>
                <!-- 中英按钮 
                <div class="language-btn btn-right">
                    <span class="la-box"></span>
                    <span class="en" style="color:#333;">En</span>
                    <span class="ch">中</span>
                </div>
                -->
                <!-- 中英按钮 -->
            </div>
            <!-- 遮照 -->
            <div class="coverUp"></div>
            <div class="imgBox">
                <div class="forImg"></div>
                <!--
                <img class="forImg" src="image/banner2.jpg" />
                -->
            </div>
            <div class="cove">
                <div>
                    <h1>
                        <span class="ch">因为专注<br/>所以专业</span>
                        <span class="en"></span>
                    </h1>
                    <p>
                        <span class="ch">
                            我们综合考量创新、技术、质量、环境等因素，致力于开发和生产高附加值的互联网产品，从而建立和维护客户关系。
                        </span>
                        <span class="en">
                        </span>
                    </p>
                </div>
            </div>
            <!-- 导航2 -->
            <div class="nav2">
                <ul>
                    <li><a id="home">首页</a></li>
                    <li><a id="service">公司服务</a></li>
                    <li><a id="product">公司产品</a></li>
                    <li><a id="AboutUs">关于我们</a></li>
                    <li><a id="enterprise">企业文化</a></li>
                    <li><a id="welfare">员工福利</a></li>
                </ul>
            </div>
        </div>
        <div id="main-content">
            <!-- 产品 -->
            <div id="serviceBox" class="productBlock">
                <div class="productBox">
                    <!-- 标题部分 -->
                    <div class="productBoxImg" style="margin-top:0;">
                        <img src="<%= htmlWebpackPlugin.options.cdn %>image/logotop.svg">
                        <p class="title"><img src="<%= htmlWebpackPlugin.options.cdn %>image/line.png"/><sapn class="text">服务&产品</sapn><img src="<%= htmlWebpackPlugin.options.cdn %>image/line.png"/></p>
                    </div>
                    <!-- 服务部分 -->
                    <div class="productContent serviceScrollRight">
                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="swiper-Box">
                                        <div class="product">
                                            <img class="product-topImg" src="<%= htmlWebpackPlugin.options.cdn %>image/it.svg" />
                                            <p class="product-title">产品设计</p>
                                            <p class="product-content">
                                                曾创造过亿日活产品的专业团队，完全贴合您的需求设计极致优秀的产品
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="swiper-Box">
                                        <div class="product">
                                            <img class="product-topImg" src="<%= htmlWebpackPlugin.options.cdn %>image/productDesign.svg" />
                                            <p class="product-title">技术开发</p>
                                            <p class="product-content">
                                                研发团队拥有领先的前沿技术和优质敏捷的产品交付能力，可超前满足多样化的市场需求
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="swiper-Box">
                                        <div class="product">
                                            <img class="product-topImg" src="<%= htmlWebpackPlugin.options.cdn %>image/Cloudsolutions.svg" />
                                            <p class="product-title">品牌&运营</p>
                                            <p class="product-content">
                                                提供专业的品牌营销传播策略与咨询服务、品牌线上全栈式整合传播产品推广、产品运营等
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="swiper-Box">
                                        <div class="product">
                                            <img class="product-topImg" src="<%= htmlWebpackPlugin.options.cdn %>image/BrandOperation.svg" />
                                            <p class="product-title">云解决方案</p>
                                            <p class="product-content">
                                                为您的私有云提供全集成服务 整合网络优化与数据中心功能 全力解决产品稳定性和安全性等问题
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- 进度导航 -->
                        <div class="productProgress">
                            <div class="box"></div>
                        </div>
                    </div>
                    <!-- 服务部分 -->
                    <!-- 产品部分 -->
                    <div id="productBox" class="productContent productScrollRight" style="background: #fff;height: 100px;">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="swiper-Box">
                                    <div class="swiper-product">
                                        <img class="swiper-product-img" src="<%= htmlWebpackPlugin.options.cdn %>image/lema.svg" />
                                        <p class="swiper-product-title">乐马</p>
                                        <p class="swiper-product-content">
                                            快捷便利支付金融服务平台和全球商旅服务网络 让每一位精英体验奢华的礼宾服务，尊享美好生活
                                        </p>
                                        <a class="swiper-product-btn" href="https://download.lemajestic.com/pc/">查看详情</a>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="swiper-Box">
                                    <div class="swiper-product">
                                        <img class="swiper-product-img" src="<%= htmlWebpackPlugin.options.cdn %>image/zhanche.svg" />
                                        <p class="swiper-product-title">乐马专车</p>
                                        <p class="swiper-product-content">
                                            乐马专车致力于为尊贵的乐马会员量身打造
											我们提供最顶级的专车服务
                                        </p>
                                        <a class="swiper-product-btn" href="https://cardownload.lemajestic.com/pc/">查看详情</a>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="swiper-Box">
                                    <div class="swiper-product">
                                        <img class="swiper-product-img" src="<%= htmlWebpackPlugin.options.cdn %>image/fanyan.svg" />
                                        <p class="swiper-product-title">泛亚生活</p>
                                        <p class="swiper-product-content">
                                            泛亚生活致力于提供舒适生活的一站式服务平台 丰富全面的功能，方便快捷的服务
                                        </p class="swiper-product-btn">
                                        <a class="swiper-product-btn" href="https://www.panasia.news">查看详情</a>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="swiper-Box">
                                    <div class="swiper-product">
                                        <img class="swiper-product-img" src="<%= htmlWebpackPlugin.options.cdn %>image/WerewolfKill.svg" />
                                        <p class="swiper-product-title">白狼宫面杀助手</p>
                                        <p class="swiper-product-content">
                                            一款超专业的狼人杀面杀工具软件
                                            不同等级的玩家有不同的专区进行较量
                                        </p class="swiper-product-btn">
                                        <a class="swiper-product-btn" href="https://www.langrensha.game">查看详情</a>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="swiper-Box">
                                    <div class="swiper-product">
                                        <img class="swiper-product-img" src="<%= htmlWebpackPlugin.options.cdn %>image/customerService.svg" />
                                        <p class="swiper-product-title">乐客服</p>
                                        <p class="swiper-product-content">
                                            乐马国际万能高端出行服务平台 你的选择，我亦追求
                                        </p class="swiper-product-btn">
                                        <a class="swiper-product-btn" href="https://lecskefu.lemajestic.com">查看详情</a>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="swiper-Box">
                                    <div class="swiper-product">
                                        <img class="swiper-product-img" src="<%= htmlWebpackPlugin.options.cdn %>image/weican.svg" />
                                        <p class="swiper-product-title">微餐时代</p>
                                        <p class="swiper-product-content">
                                            业内领先的基于云端技术的SaaS餐饮管理软件 打造出集餐饮行业品牌管理体系
                                        </p class="swiper-product-btn">
                                        <a class="swiper-product-btn" href="https://www.weicantimes.com">查看详情</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    
                </div>
                <!-- 产品部分 -->
                </div>
            </div>

            <!-- 轮播图延伸 -->
            <div id="AboutUsBox" class="mobileBannarBox" style="margin-top: 420px;"> 
            <div class="mobileBannar">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="mobileBannarBbox">
                                <img src="<%= htmlWebpackPlugin.options.cdn %>image/1.jpg" />
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="mobileBannarBbox">
                                <img src="<%= htmlWebpackPlugin.options.cdn %>image/2.jpg" />
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="mobileBannarBbox">
                                <img src="<%= htmlWebpackPlugin.options.cdn %>image/3.jpg" />
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="mobileBannarBbox">
                                <img src="<%= htmlWebpackPlugin.options.cdn %>image/4.png" />
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 进度导航 -->
                <div class="productProgress">
                    <div class="box"></div>
                </div>            
            </div>
            <div class="mobileBannarContent swiper-no-swiping"><!-- swiper-no-swiping禁止手动触摸 -->
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="contentBox" data-swiper-parallax="0" data-swiper-parallax-opacity="0">
                                <p class="title">公司简介</p>
                                <p class="content">
                                    傲创网络科技有限公司是一家跨国公司，员工来自不同国家和地区，有着共同的企业文化，这种文化是基于诚信、勤勉和对技术的执着以及长远发展的追求。
                                </p>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="contentBox" data-swiper-parallax="0" data-swiper-parallax-opacity="0">
                                <p class="title">人才战略</p>
                                <p class="content">
                                    人才是一种战略资源。公司以吸引人、发掘人、培养人为文化和战略，对优秀人才的重点培养，定能成就面向未来的顶尖人才梯队。
                                </p>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="contentBox" data-swiper-parallax="0" data-swiper-parallax-opacity="0">
                                <p class="title">工作环境</p>
                                <p class="content">
                                    致力于创造并提升多元化工作环境。我们相信来自不同背景、文化、卓识、激情和才华的人才便拥有了产生创意无限的机会，从而满足多元化全球客户需求。
                                </p>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="contentBox" data-swiper-parallax="0" data-swiper-parallax-opacity="0">
                                <p class="title">联系我们</p>
                                <p class="content">
                                    傲创网络科技有限公司是一家跨国公司，员工来自不同国家和地区，平均年龄在25岁左右，但我们有着共同的企业文化，这种文化是基于诚信、勤勉和对技术的执着以及长远发展的追求。
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            <!-- 轮播图延伸 -->
            <!-- 企业文化 员工福利 -->
            <div id="enterpriseBox" class="CorporateWelfareBox">
                <!-- 企业文化 -->
                <div class="CorporateBox">
                    <div class="CorporateBoxTImg">
                        <p class="CorporateBoxContentText">
                            企业文化
                        </p>
                    </div>
                    <div class="CorporateBoxContent">
                        <p class="CorporateBoxTitlte">愿景</p>
                        <p class="CorporateBoxContentInfo">
                            东南亚互联网领航企业<br/>
                            技术领航东南亚，产品惠及全社会
                        </p>
                    </div>
                    <div class="CorporateBoxContent">
                        <p class="CorporateBoxTitlte">使命</p>
                        <p class="CorporateBoxContentInfo">
                            以领先的技术惠及东南亚国家与人民
                        </p>
                    </div>
                    <div class="CorporateBoxContent">
                        <p class="CorporateBoxTitlte">价值观</p>
                        <p class="CorporateBoxContentInfo">
                            做人简单 做事极致 创业激情 团队务实 交付敏捷
                        </p>
                    </div>
                    <div class="CorporateBoxContent">
                        <p class="CorporateBoxTitlte">精神</p>
                        <p class="CorporateBoxContentInfo">
                            做人：团队优先 开放心态 平等分享 互信互爱<br/>
                            做事：容新 容错 激情 敬业 极致
                        </p>
                    </div>
                </div>
                <!-- 企业文化 -->
                <!-- 员工福利 -->
                <div id="welfareBox" style="padding-bottom:60px;">
                <!-- 标题部分 -->
                <div class="productBoxImg">
                    <img src="<%= htmlWebpackPlugin.options.cdn %>image/welfare.svg">
                    <p class="title"><img src="<%= htmlWebpackPlugin.options.cdn %>image/line.png"/><sapn class="text">员工福利</sapn><img src="<%= htmlWebpackPlugin.options.cdn %>image/line.png"/></p>
                </div>
                <!-- 服务部分 -->
                <div class="productBox">
                <div class="productContent WelfareBox">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="swiper-Box">
                                    <div class="product">
                                        <img class="product-topImg" src="<%= htmlWebpackPlugin.options.cdn %>image/Visaprocessing.svg" />
                                        <p class="product-title">签证办理</p>
                                        <p class="product-content">
                                            公司提供入职机票及办理签证、劳工证
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="swiper-Box">
                                    <div class="product">
                                        <img class="product-topImg" src="<%= htmlWebpackPlugin.options.cdn %>image/FestivalPacket.svg" />
                                        <p class="product-title">节日礼金</p>
                                        <p class="product-content">
                                            生日、结婚、生育以及重要节日的礼金
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="swiper-Box">
                                    <div class="product">
                                        <img class="product-topImg" src="<%= htmlWebpackPlugin.options.cdn %>image/Paidannualleave.svg" />
                                        <p class="product-title">带薪年假</p>
                                        <p class="product-content">
                                            员工享有每年15天的带薪年假
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="swiper-Box">
                                    <div class="product">
                                        <img class="product-topImg" src="<%= htmlWebpackPlugin.options.cdn %>image/Familyvisitholiday.svg" />
                                        <p class="product-title">探亲福利</p>
                                        <p class="product-content">
                                            公司提供探亲福利，包含往返机票
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="swiper-Box">
                                    <div class="product">
                                        <img class="product-topImg" src="<%= htmlWebpackPlugin.options.cdn %>image/Elastictime.svg" />
                                        <p class="product-title">人性化管理</p>
                                        <p class="product-content">
                                            无需打卡，自由安排以有效地工作
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="swiper-Box">
                                    <div class="product">
                                        <img class="product-topImg" src="<%= htmlWebpackPlugin.options.cdn %>image/activity.svg" />
                                        <p class="product-title">活动</p>
                                        <p class="product-content">
                                            每个月一次团建，每周一次下午茶
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="swiper-Box">
                                    <div class="product">
                                        <img class="product-topImg" src="<%= htmlWebpackPlugin.options.cdn %>image/IMAC.svg" />
                                        <p class="product-title">MacBook</p>
                                        <p class="product-content">
                                            我们在办公室提供MacBook
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="swiper-Box">
                                    <div class="product">
                                        <img class="product-topImg" src="<%= htmlWebpackPlugin.options.cdn %>image/Sportsactivities.svg" />
                                        <p class="product-title">体育活动</p>
                                        <p class="product-content">
                                            公司提供免费健身房设施
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 进度导航 -->
                    <div class="productProgress">
                        <div class="box"></div>
                    </div>
                </div>
                </div>
                </div>
                <!-- 员工福利 -->
            </div>
            <!-- 企业文化 员工福利 -->
            <!-- 页脚 -->
            <div class="pageFooter">
                Copyright © 2020 AWESOME ULTRON. All Rights Reserved.
            </div>
            <!-- 页脚 -->
        </div>
    </div>
    <!-- 视差滚动插件-->
    <script src="<%= htmlWebpackPlugin.options.cdn %>js/jquery.min.js"></script>
    <script type="text/javascript" src="<%= htmlWebpackPlugin.options.cdn %>js/skrollr.min.js"></script> 	
    <script type="text/javascript" src="<%= htmlWebpackPlugin.options.cdn %>js/swiper.min.js"></script> 
    <!-- 函数js -->
</body>
</html>

